.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f7f6;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.content-area {
  display: flex;
  flex: 1;
  background-color: var(--background-color);
  width: 100vw;
  margin: 0;
  margin-top: 92px; /* height of header */
  min-height: calc(100vh - 92px);
}

.sidebar {
  position: fixed;
  top: 92px; /* height of header */
  left: 0;
  height: calc(100vh - 92px);
  width: 60px;
  z-index: 10;
  background-color: #fff;
  border-radius: 30px;
  align-items: center;
  padding-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.main-content {
  /* : 80px; width of sidebar + margin */
  width: calc(100vw - 80px);
  overflow-y: auto;
  height: calc(100vh - 92px);
  padding-left: 20px;
}

/* .content-wrapper {
  display: flex;
  height: 100%;
} */

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Responsive adjustments */
/* @media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .content-area {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }
} */
