.table-management-page {
  padding: 20px;
  padding-top: 0px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.add-table-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  font-weight: 500;
  transition: background-color var(--transition-speed) ease;
}

.add-table-btn:hover {
  background-color: var(--primary-dark);
}
